<!DOCTYPE html>
<html lang="en">
<head>
  <title>IMDB Predictions</title>
  <link rel="icon" href="../static/img/logo.png">
  <link rel="icon" href="../static/img/logo.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .panel_primary {
        width: 100%
    }

    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
  </style>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>IMDB Rating Predictions</h1>      
    <p>Powered by Machine Learning</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Current Movies</a></li>
        <li><a href="/predict/">Predict Movie</a></li>
        <li class="active"><a href="/visuals">Visualizations</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="width: 100%; justify-content: center;" >    
  <div class="row">
    <div class="col-lg-4" style="width: 80%;">
      <div class="panel panel-primary">
        <div class="panel-heading">US Income vs. Genre Bubble Chart</div>
        <div class="panel-body"><img src="../static/img/Bubble.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">This bubble chart represents the amount of revenue each genre brought in. You can see that Action, Adventure, Sci fi brought in the most. Coming in at 71 billion. An example of this genre would be Godzilla vs Kong or Ready player one. Adventure comedy follows at 57 billion, this would be Boss Baby or Sausage Party.</div>
        </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Production Company vs. Income Bar Chart</div>
        <div class="panel-body"><img src="../static/img/bar.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">The bar chart shows the sum of the average vote from IMDB that each production company received with warner bros at number one again with 2,695 votes and Columbia pictures following with 3,743 votes.</div>
      </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Income vs. Production Company Tree Map</div>
        <div class="panel-body"><img src="../static/img/tree.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">This tree map represents the USA gross sum each production company brought in. The ones that brought in the most are the most well-known production companies with Warner Bros being number one at 58 trillion and Universal coming after at 54 trillion.</div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Original Title vs. Duration</div>
        <div class="panel-body"><img src="../static/img/Duration vs Original Title .png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Shows the title of the movie vs. their average durations.</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Actors vs. US Voter Count</div>
        <div class="panel-body"><img src="../static/img/US Voters vs Actors.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Shows which actor pairings where the most voted on by IMDB users.</div>
      </div>
  </div>
</div><br>

</body>
</html>